@model List<PageOfPhotosWebsite.Models.PageRef>

@{
    ViewData["Title"] = "Current Users";
}

<h2>Page of Photos Member Pages</h2>
<fieldset>
    <legend>Members</legend>
    <ol>
        @foreach (var item in Model)
            {
            <li><img src="@item.UserAvatarUrl" height="25" /><a href="/Page/id=@item.Slug">@item.Name (@item.Slug)</a></li>
        }
    </ol>
</fieldset>
